
<div class="header" id="nav1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-left">
                    <a href="index.html">Bhuck<span>.com</span></a>
                </h2>
                <i class="fa fa-navicon fa-3x fa-inverse pull-right" id="navi"></i>
            </div>
            <div class="col-md-8" id="nav">
                <ul class="list-inline pull-right nav linkslam">
                    <li>
                        <a href="index.html" class="active" data-hover="HOME">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a href="courses.html" data-hover="COURSES">
                            COURSES
                        </a>
                    </li>
                    <li>
                        <a href="resume.html" data-hover="RESUME">
                            RESUME
                        </a>
                    </li>
                    <li>
                        <a href="widgets.html" data-hover="WIDGETS">
                            WIDGETS
                        </a>
                    </li>
                    <li>
                        <a href="contact.html" data-hover="CONTACT">
                            CONTACT
                        </a>
                    </li>
                    <li>
                        <a href="about.html" data-hover="ABOUT">
                            ABOUT
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="intro" id="intro">
    <div class="introwrap">
        <h6 class="welcome">Welcome to Bhuck.com</h6>
        <div class="enter" id="enter">
            <a href="#main" data-hover="ENTER"><span>ENTER</span></a>
        </div>
    </div>
</div>

<div class="main" id="main">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contentheader">
                    <h2>Charles L. Veranis</h2>
                    <h1>Aspiring Full-Stack Engineer</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="contentgrey">
                    <div id="bg21">
                        <div class="col-md-4">
                            <div class="picwrap">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="textwrap" id="bg1">
                                <h2>Dedicated</h2>
                                <p>to master full-stack using the plethora of online resources available.</p>
                                <a href="courses.html"><button class="btn btn-default btn-lg">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="contentwhite">
                <div id="bg22">
                    <div class="col-md-8">
                        <div class="textwrap" id="bg2">
                            <h2>Professional</h2>
                            <p>experience in the IT industry. There's a time and a place for everything, and the time
                            for the web is now.</p>
                            <a href="resume.html"><button class="btn btn-default btn-lg">Learn More</button></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="picwrap">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-cloud fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="contentgrey">
                    <div id="bg3">
                        <div class="col-md-4">
                            <div class="picwrap">
                                <i class="fa fa-connectdevelop fa-5x"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="textwrap">
                                <h2>Dream</h2>
                                <p>big. The only way to get to the top, is to start from the bottom.</p>
                                <a href="widgets.html"><button class="btn btn-default btn-lg">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="utilities">
                <h2>This site has been created with</h2>
                <div class="row imgflex">
                    <div class="col-md-2">
                        <img class="img-zoom" src="http://bhuck.com/images/HTML5.png" title="HTML5">
                    </div>
                    <div class="col-md-2">
                        <img class="img-zoom" src="http://bhuck.com/images/CSS3.png" title="CSS3">
                    </div>
                    <div class="col-md-2">
                        <img class="img-zoom" src="http://bhuck.com/images/javascript.png" title="JavaScript">
                    </div>
                    <div class="col-md-2">
                        <img class="img-zoom" src="http://bhuck.com/images/scss.png" title="SCSS">
                    </div>
                    <div class="col-md-2">
                        <img class="img-zoom" src="http://bhuck.com/images/bootstrap.svg" title="Twitter Bootstrap">
                    </div>
                    <div class="col-md-2">
                        <img class="img-zoom" src="http://bhuck.com/images/intellij.png" title="IntelliJ IDEA">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



<div class="footer">
    <div class="container foot">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav linkslam">
                    <li>
                        <a href="index.html" class="active" data-hover="HOME">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a href="courses.html" data-hover="COURSES">
                            COURSES
                        </a>
                    </li>
                    <li>
                        <a href="resume.html" data-hover="RESUME">
                            RESUME
                        </a>
                    </li>
                    <li>
                        <a href="widgets.html" data-hover="WIDGETS">
                            WIDGETS
                        </a>
                    </li>
                    <li>
                        <a href="contact.html" data-hover="CONTACT">
                            CONTACT
                        </a>
                    </li>
                    <li>
                        <a href="about.html" data-hover="ABOUT">
                            ABOUT
                        </a>
                    </li>
                </ul>
                <div class="footericons">
                    <a href="contact.html"><i class="fa fa-envelope-o fa-4x"></i></a>
                    <a href="#intro"><i class="fa fa-level-up fa-4x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>